<h1 class="text-center mt-5">Tabelas de Despesas</h1>

<!-- Tabelas com Despesas -->

<div class="container mt-3 mb-3 sombra" *ngFor="let info of listaDespesas">
  <table class="rwd-table mt-5 mb-5">
    <tbody>
      <tr>
        <th>Ano</th>
        <th>Tipo de Serviço</th>
        <th>Fornecedor do Serviço</th>
        <th>Data da Despesa</th>
        <th>Valor da Despesa</th>
        <th>Link do Documento</th>
      </tr>
      <tr>
        <td data-th="Ano"> {{info.ano}} </td>
        <td data-th="Tipo de Serviço"> {{info.tipoDespesa}} </td>
        <td data-th="Fornecedor do Serviço"> {{info.nomeFornecedor}} </td>
        <td data-th="Data da Despesa"> {{info.dataDocumento}} </td>
        <td data-th="Valor da Despesa"> R$ {{info.valorLiquido}} </td>
        <td data-th="Link do Documento"> <a href="{{info.urlDocumento}}" target="blank">{{info.urlDocumento}}</a> </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Fim das tabelas com Despesas -->


<!-- Botões para Paginação -->

<div class="d-flex justify-content-center flex-wrap">
  <div class="col-md-12 d-flex justify-content-center">
    <button class="btn btn-outline mt-3 m-lg-1 mb-6" (click)='primPag()'><img
        src="https://img.icons8.com/ios-glyphs/24/4a90e2/1.png" /></button>
    <button class="btn btn-outline mt-3 mb-6 m-lg-1" (click)='anterPag()'><img
        src="https://img.icons8.com/material-rounded/24/4a90e2/chevron-left.png" /></button>
    <button class="btn btn-outline mt-3 mb-6 m-lg-1" (click)='proxPag()'><img
        src="https://img.icons8.com/material-rounded/24/4a90e2/chevron-right.png" /></button>
    <button class="btn btn-outline mt-3 m-lg-1 mb-6" (click)='ultPag()'><img
        src="https://img.icons8.com/ios-filled/24/4a90e2/14.png" /></button>
  </div>
</div>

<!-- Fim dos Botões para Paginação -->