<section class="contact-area sombra" id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="contact-content text-center">
                  <a href="#"><img src="https://i.imgur.com/zpvzubB.png" alt="logo"></a>
                  <p>O Fiscaliza Aí é uma plataforma que busca informar e difunfir informações acerca dos deputados federais atuantes em nosso território nacional. </p>
                  <div class="hr"></div>
                  <h6>Rua Pedro Marques de Souza - Coroado III</h6>
                  <h6>Manaus - Amazonas</h6>
                  <div class="contact-social">
                      <ul>
                          <li><a class="hover-target" href="https://www.linkedin.com/in/cristiano-da-silva-soares-495a3a217/" target="blank"><img src="https://img.icons8.com/material-rounded/26/ffffff/linkedin--v1.png"/><i class="fab fa-facebook-f"></i></a></li>
                          <li><a class="hover-target" href="https://github.com/Cristiano-Silva-Soares" target="blank"><img src="https://img.icons8.com/material-rounded/26/ffffff/github.png"/><i class="fab fa-linkedin-in"></i></a></li>
                          <li><a class="hover-target" href="https://drive.google.com/file/d/1MKNIvkR39YqNnKXHrvjt8MaMuHdlnbHK/view?usp=sharing" target="blank"><img src="https://img.icons8.com/material/26/ffffff/about-us-male.png"/><i class="fab fa-github"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- =============== 1.9 Contact Area End =dddddddddddddddddddddddd===================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
<p>&copy; Cristiano Silva - 2021 </p>
</footer>